[submodule ".config/awesome/net_widgets"]
	path = .config/awesome/net_widgets
	url = gh:plotnikovanton/net_widgets.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = gh:tpope/vim-pathogen
[submodule ".vim/bundle/vim-grep-operator"]
	path = .vim/bundle/vim-grep-operator
	url = gh:inside/vim-grep-operator
