[submodule ".config/awesome/net_widgets"]
	path = .config/awesome/net_widgets
	url = gh:plotnikovanton/net_widgets.git
[submodule ".vim/pathogen"]
	path = .vim/pathogen
	url = gh:tpope/vim-pathogen
[submodule ".vim/bundle/vim-grep-operator"]
	path = .vim/bundle/vim-grep-operator
	url = gh:inside/vim-grep-operator
[submodule ".vim/bundle/Smart-Tabs"]
	path = .vim/bundle/Smart-Tabs
	url = gh:vim-scripts/Smart-Tabs
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = gh:garbas/vim-snipmate
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = gh:MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = gh:tomtom/tlib_vim
