# Ignore everything
/*

# Do not ignore .gitignore (this shall remain special)
!/.gitignore

# Same for .gitmodules
!/.gitmodules

# Do not ignore .dotfiles
!/.dotfiles

# Do not ignore .fonts/*.bdf
!/.fonts
/.fonts/*
!/.fonts/*.bdf

# Do not ignore select dirs under .config
!/.config
/.config/*
!/.config/awesome
!/.config/Bespin
!/.config/mpv
/.config/mpv/mpv-private.conf
!/.config/fontconfig
!/.config/git
!/.config/htop
!/.config/bat
!/.config/yay
!/.config/containers
!/.config/split2flac
!/.config/pass-git-helper
!/.config/vifm
/.config/vifm/vifminfo.json
!/.config/lazygit
/.config/lazygit/*
!/.config/lazygit/config.yml
!/.config/sublime-merge
/.config/sublime-merge/*
!/.config/sublime-merge/Packages
!/.config/sublime-text
/.config/sublime-text/*
!/.config/sublime-text/Packages
/.config/sublime-text/Packages/CommandsBrowser33/
/.config/sublime-text/Packages/User/Terminus/*.hidden-color-scheme
/.config/sublime-text/Packages/User/Terminus.hidden-color-scheme
/.config/sublime-text/Packages/User/SBSCompare*.hidden-*

# Do not ignore .config/gmailctl, except credentials
/.config/gmailctl/*.json
!/.config/gmailctl

# Do not ignore .config/QtProject/qtcreator/styles
!/.config/QtProject
/.config/QtProject/*
!/.config/QtProject/qtcreator
/.config/QtProject/qtcreator/*
!/.config/QtProject/qtcreator/styles

# qman(1) config
!/.config/qman.conf

# Do not ignore .vim
!/.vim

# Do not ignore .zshrc{.early,.late,}.d and .zsh
!/.zshrc.d
!/.zshrc.early.d
!/.zshrc.late.d
!/.zsh
/.zshrc.d/*-private

# GDB configuration and scripts
!/.gdbinit
!/.gdbinit.d
!/.gdb.d

# taskwarrior
!/.taskrc
!/.taskrc.work

# GnuPG
!/.gnupg
/.gnupg/*
!/.gnupg/*.conf

# npm, pnpm
!/.npmrc

# cargo configuration (+ "-rel" for cargo-rel wrapper)
!/.cargo
/.cargo/*
!/.cargo/config*.toml

# tigrc
!/.tigrc
!/.tigrc.*

# gitconfig and snippets (excluding .private and .machine)
!/.gitconfig
!/.gitconfig.*
/.gitconfig.private
/.gitconfig.private-*
/.gitconfig.machine

# gitignore snippets (pointed to by various other configuration)
!/.gitignore.*

# assorted rc-files
# we are tracking them anyway, but still list them here for fd(1)
!/.mpd.conf
!/.nethackrc
!/.inputrc
!/.ideavimrc
!/.neovintageousrc
!/.vimrc
!/.tmux.conf
!/.profile
!/.zprofile
!/.zshrc
!/.Xdefaults
!/.Xmodmap
!/.Xresources
!/.Xresources-*
!/.xsession
