[include]
	path = ~/.gitconfig.private
[include]
	path = ~/.gitconfig.machine
[core]
	preloadindex = 1
	quotepath = off
	quotedpath = false
	excludesfile = ~/.gitignore.global
[guitool "Interactive history rewrite"]
	cmd = git rebase -i $REVISION
	revprompt = yes
[url "https://anongit.kde.org/"]
	insteadOf = kde:
	insteadOf = git://anongit.kde.org/
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
	pushInsteadOf = git://anongit.kde.org/
	pushInsteadOf = https://anongit.kde.org/
[url "https://github.com/"]
	insteadOf = gh:
	insteadOf = git://github.com/
[url "git@github.com:"]
	pushInsteadOf = gh:
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
	insteadOf = git://aur.archlinux.org/
[url "aur@aur.archlinux.org:"]
	pushinsteadOf = aur:
	pushInsteadOf = git://aur.archlinux.org/
	pushinsteadOf = https://aur.archlinux.org/
[url "https://gitlab.com/"]
	insteadOf = gl:
	insteadOf = git://gitlab.com/
[url "git@gitlab.com:"]
	pushInsteadOf = gl:
	pushInsteadOf = git://gitlab.com/
	pushInsteadOf = https://gitlab.com/
[url "https://gitlab.gnome.org/"]
	insteadOf = gnome:
	insteadOf = git://gitlab.gnome.org/
[url "git@gitlab.gnome.org:"]
	pushInsteadOf = gnome:
	pushInsteadOf = git://gitlab.gnome.org/
	pushInsteadOf = https://gitlab.gnome.org/
[url "https://gitlab.freedesktop.org/"]
	insteadOf = fdo:
	insteadOf = git://gitlab.freedesktop.org/
[url "git@gitlab.freedesktop.org:"]
	pushInsteadOf = fdo:
	pushInsteadOf = git://gitlab.freedesktop.org/
	pushInsteadOf = https://gitlab.freedesktop.org/
[url "https://git.sr.ht/"]
	insteadOf = sr.ht:
[url "git@git.sr.ht:"]
	pushInsteadOf = sr.ht:
	pushInsteadOf = https://git.sr.ht/
[rerere]
	enabled = 1
	autoupdate = true
[push]
	default = current
[sendemail]
	annotate = true
[color]
	diff = auto
	ui = auto
[color "status"]
	header = 10 # "bold green", solarized secondary
	added = yellow
	changed = green
	untracked = cyan
	branch = 14 # "bold cyan", solarized emphasis
	nobranch = bold black red
	unmerged = bold red
[color "blame"]
	highlightRecent = 10,6 month ago,normal,1 month ago,bold,1 day ago,yellow
[status]
	showUntrackedFiles = normal
[gui]
	editor = xdg-open
	historybrowser = gitg
[merge]
	conflictstyle = diff3
	tool = vimdiff
	guitool = smerge
	summary = true
[svn]
	pushmergeinfo = true
[cola]
	tabwidth = 8
	textwidth = 80
	savewindowsettings = true
	linebreak = true
	fontdiff = Iosevka Light,10,-1,5,50,0,0,0,0,0
	spellcheck = false
	safemode = true
	boldheaders = true
	showpath = true
[diff]
	tool = vimdiff
	guitool = smerge
	algorithm = patience
[clean]
	requireForce = false
[credential]
	helper = /usr/bin/pass-git-helper -l
[rebase]
	autosquash = true
[alias]
	for-each-ref-name = for-each-ref --format '%(refname:short)'
	ls-conflicts = diff --name-only --diff-filter=U --relative
[blame]
	coloring = highlightRecent
	showEmail = true
	date = short
[pull]
	ff = only
[init]
	defaultBranch = master
[sequence]
	editor = interactive-rebase-tool
[gc]
	autoDetach = false
