.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.weechat/alias.conf
.weechat/aspell.conf
.weechat/buffers.conf
.weechat/charset.conf
.weechat/irc.conf
.weechat/logger.conf
.weechat/logs/
.weechat/plugins.conf
.weechat/relay.conf
.weechat/rmodifier.conf
.weechat/script.conf
.weechat/weechat.conf
.weechat/weechat.log
.weechat/wg.conf
.weechat/xfer.conf
