[core]
	preloadindex = true
	quotepath = off
	quotedpath = false
	excludesfile = ~/.gitignore.global
	pager = ${GIT_PAGER-${PAGER-less}} -FR
[init]
	defaultBranch = master
[checkout]
	workers = 0
[status]
	showUntrackedFiles = normal
[pull]
	ff = only
[push]
	default = current
[diff]
	tool = vimdiff
	guitool = smerge
	algorithm = histogram
[merge]
	summary = true
	conflictstyle = diff3
	tool = vimdiff
	guitool = smerge
[mergetool "vimdiff"]
	layout = LOCAL,BASE,REMOTE / MERGED + BASE,LOCAL + BASE,REMOTE + (LOCAL/BASE/REMOTE),MERGED
[rebase]
	autosquash = true
	# TODO: implement rebase.updateRefs=interactive
	#updateRefs = true
[blame]
	showEmail = true
	date = short
	coloring = highlightRecent
[rerere]
	enabled = 1
	autoupdate = true
[clean]
	requireForce = false
[gc]
	autoDetach = false
	reflogExpire = never
	reflogExpireUnreachable = never
[sequence]
	editor = interactive-rebase-tool
[credential]
	helper = pass-git-helper -l
[sendemail]
	annotate = true

[pretty]
	# Use a better format for `git refer` (below)
	# (aligned with Linux kernel code style)
	reference2 = %C(auto)%h (\"%s\")
	fixes = %C(auto,green)Fixes: %C(auto)%h (\"%s\")
[alias]
	for-each-ref-name = for-each-ref --format '%(refname:short)'
	ls-refs = for-each-ref --format '%(refname:short)'
	for-each-ref-name-full = for-each-ref --format '%(refname)'
	ls-refs-full = for-each-ref --format '%(refname)'
	ls-conflicts = diff --name-only --diff-filter=U --relative
	cclean = clean -xd -e '/.idea' -e '/*.sublime-*' -e '/compile_commands.json' -e '/.clangd' -e '/.cache/clangd'
	rebase-i = rebase --rebase-merges=no-rebase-cousins --update-refs --interactive
	rebase-ic = rebase --rebase-merges=rebase-cousins --update-refs --interactive

	rev = rev-parse --short HEAD
	br = symbolic-ref --short HEAD

	# aliases do not like being started with `--no-pager` for some reason,
	# but `-c` is apparently OK
	refer = -c pager.show=false show --no-patch --format=reference2
	fixes = -c pager.show=false show --no-patch --format=fixes

	copy-refer = "!f() { git refer \"$@\" | clip --copy; }; f"
	copy-fixes = "!f() { git fixes \"$@\" | clip --copy; }; f"

	clone--nolfs = -c filter.lfs.smudge= -c filter.lfs.clean= -c filter.lfs.process='git-lfs filter-process --skip' clone

	# `git checkout`, but using the first valid ref out of multiple
	# arguments prefixed with "+"
	zz-tig-checkout = "!f() { \
		local -a args refs; \
		while (( $# )); do \
			if [[ $1 == -- ]]; then \
				break; \
			elif [[ $1 == +* ]]; then \
				if [[ $1 == +?* && ! ${refs+set} ]]; then \
					refs+=( \"${1#+}\" ); \
				fi; \
			else \
				args+=( \"$1\" ); \
			fi; \
			shift; \
		done; \
		set -x; \
		git checkout \"${args[@]}\" \"${refs[@]}\" \"$@\"; \
	}; f"

	# these abominations exist to fish out a remote name from arguments
	# while simultaneously assuming a mostly-reasonable default using
	# heuristics (which are included for `git-hub` and `gh` GitHub CLIs)
	zz-guess-upstream = "!f() { \
		for u; do \
			[[ $u != -* ]] && git config \"remote.$u.url\" &>/dev/null && echo \"$u\" && return; \
		done; \
		git config hub.upstreamremote && return; \
		git remote | while IFS='' read -r u; do \
			[[ \"$(git config \"remote.$u.gh-resolved\")\" == base ]] && echo \"$u\" && return; \
		done; \
		for u in upstream origin; do \
			git config \"remote.$u.url\" &>/dev/null && echo \"$u\" && return; \
		done; \
		return 1; \
	}; f"
	zz-guess-fork = "!f() { \
		shopt -s lastpipe; \
		for u; do \
			[[ $u != -* ]] && git config \"remote.$u.url\" &>/dev/null && echo \"$u\" && return; \
		done; \
		git config hub.forkremote && return; \
		git remote | while IFS='' read -r u; do \
			[[ \"$(git config \"remote.$u.gh-resolved\")\" == base ]] && upstream=\"$u\" || forks+=(\"$u\"); \
		done; \
		[[ ${upstream+set} ]] && (( ${#forks[@]} == 1 )) && echo \"$forks\" && return; \
		for u in fork origin; do \
			git config \"remote.$u.url\" &>/dev/null && echo \"$u\" && return; \
		done; \
		return 1; \
	}; f"

	# this abomination exists for the sole reason of setting a default refspec
	# while letting the user control the remote name (which is not possible
	# with normal git-push, hence the -c remote.$remote.push dance).
	push-work = "!f() { \
		remote=\"$(git zz-guess-fork \"$@\")\" || return; \
		set -x; \
		git -c \"remote.$remote.push=+refs/heads/work/*\" push \"$@\"; \
	}; f"

	# adapted from https://gist.github.com/gnarf/5406589
	pr = "!f() { \
		remote=\"$(git zz-guess-upstream \"${@:2:1}\")\" || return; \
		prefix=\"pr${2:+\"/$2\"}\"; \
		set -x; \
		git fetch -fu \"$remote\" \"refs/pull/$1/head:$prefix/$1\" || return; \
		git checkout \"$prefix/$1\"; \
	}; f"
	pr-clean = "!f() { \
		[[ ${1+set} ]] && glob=\"$1/*\" || glob=\"**\"; \
		git for-each-ref --format 'delete %(refname)' \"refs/heads/pr/$glob\" \
		| tee /dev/stderr \
		| git update-ref --stdin; \
	}; f"

	recurse = "!f() { \
		eval \"$*\" || return; \
		git submodule --quiet foreach --recursive \"$*\" || return; \
	}; f"

	nuke = "!f() { \
		git recurse \"git reset --hard && git clean -fxd\" || return; \
		git submodule update --init --recursive --progress; \
	}; f"

[color "status"]
	header = 10 # "bold green", solarized secondary
	added = yellow
	changed = green
	untracked = cyan
	branch = 14 # "bold cyan", solarized emphasis
	nobranch = bold black red
	unmerged = bold red
[color "blame"]
	highlightRecent = 10,6 month ago,normal,1 month ago,bold,1 day ago,yellow

[tig]
	mouse = true
	mouse-scroll = 1
	mouse-wheel-cursor = 1

[gui]
	editor = xdg-open
	historybrowser = gitg
[guitool "Interactive history rewrite"]
	cmd = git rebase -i $REVISION
	revprompt = yes
[cola]
	tabwidth = 8
	textwidth = 80
	savewindowsettings = true
	linebreak = true
	fontdiff = Iosevka Light,10,-1,5,50,0,0,0,0,0
	spellcheck = false
	safemode = true
	boldheaders = true
	showpath = true

[svn]
	pushmergeinfo = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[include]
	path = ~/.gitconfig.private
[include]
	path = ~/.gitconfig.machine
[include]
	path = ~/.gitconfig.aliases
