*Font:                       Terminus
Xcursor.theme:               Obsidian

#include ".Xresources-solarized"
!#include ".Xresources-kniren"

URxvt.font:                  xft:terminus:pixelsize=12
URxvt.imFont:                xft:terminus:pixelsize=12
URxvt.boldFont:              xft:terminus:pixelsize=12
URxvt.italicFont:            xft:terminus:pixelsize=12
URxvt.boldItalicFont:        xft:terminus:pixelsize=12

URxvt.saveLines:             2048
URxvt.skipScroll:            true

URxvt.borderless:            true

URxvt.cursorBlink:           true
URxvt.cursorUnderline:       false

URxvt.depth:                 32
URxvt.internalBorder:        5

! ScrollBar
URxvt.scrollBar:             false
URxvt.scrollBar_right:       true
URxvt.scrollstyle:           plain
URxvt.scrollColor:           #ffffff

URxvt.scrollWithBuffer:      true
URxvt.scrollTtyKeypress:     true
URxvt.scrollTtyOutput:       false

URxvt.buffered:              true
URxvt.pointerBlank:          true
URxvt.underlineURLs:         true

! Transparency
URxvt.transparent:           false
URxvt.shading:               5

! URLs
URxvt.perl-ext:              default,url-select
URxvt.keysym.M-u:            perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/xdg-open
URxvt.url-select.underline:  true
/* vim: set ts=4 sw=4 tw=0 ft=xdefaults :*/
