snippet pkgver-git
	pkgver() {
		cd "\$pkgname"
		git describe --long $0| sed 's/^v//;s/-/.r/;s/-/./'
	}

snippet pkgver-git-complex
	pkgver() {
		cd "\$pkgname"
		git describe --long | sed 's/\([^-]*-g\)/r\1/;s/-/./g'
	}

snippet pkgver-git-notags
	pkgver() {
		cd "\$pkgname"
		printf "r%s.%s" "\$(git rev-list --count HEAD)" "\$(git rev-parse --short HEAD)"
	}

snippet prepare-patches
	for p in "\${source[@]}"; do
		if [[ \${p} == *.patch ]]; then
			git apply "\${srcdir}/\${p}"
		fi
	done
